@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
:root {
  background: #f1f1f1;
}
.overt {
  direction: rtl;
}

::-webkit-scrollbar{
  background: #ffffff;
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background: #cecece;
  border-radius: 500px;
}